In [ ]:
print(" hello world");

 hello world

In [ ]:
7/3

2.3333333333333335

In [ ]:
from math import *

In [ ]:
log(2)

0.6931471805599453

In [ ]:
Name="Priya"
b=20
c=90.03
d="A"

print(Name)
print(b)
print(c)
print(d)

Priya
20
90.03
A

In [ ]:
type(Name)

str

In [ ]:
a="Name is ABC"
b=a
b

'Name is ABC'

In [ ]:
a=20
if (a==20):
    print("a is 20")
else:
    print("a is not 20")

a is 20

In [ ]:
n=50
if (n==20):
    print('number is 20')
elif (n==30):
    print('number is 30')
elif(n==500):
    print('number is 500')
else:
    print('number is not 20,30,500');

number is not 20,30,500

In [ ]:
3**2

9

In [ ]:
a="hello"
b="User"
a+b

'helloUser'

In [ ]:
b=" User"
a+b

'hello User'

In [ ]:
list1=[1,2,3,4]
list2=["A","B","C"]
list3=[1,"Hello"]

In [ ]:

list1[2]

3

In [ ]:

x=5
y=x
x=7
print(x,y)

7 5

In [ ]:

lst1=[1,3,5,7]
lst2=lst1
lst1[2]=4
print(lst1)
print(lst2)

[1, 3, 4, 7]
[1, 3, 4, 7]

In [ ]:
def factorial(n):
    if n<=0:
        return(1)
    else:
        val=n*factorial(n-1)
        return(val)

In [ ]:

factorial(4)

24

In [ ]:
factorial(0)

1

In [ ]:
list1 = [1,2,3,'A']
list2 = [1,2,3,'C']
list1 is list2

False

In [ ]:
vegetables = ["Potato","tomato","onion"]
list=[]
for i in vegetables:
    if "p" in i:
        list.append(i)
print(list)

[]

In [ ]:
newlist = [i for i in range(10)]

In [ ]:
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
newlist = [i for i in range(10) if i >4]

newlist

[5, 6, 7, 8, 9]

In [ ]:
newlist1=newlist.copy()
newlist1

[5, 6, 7, 8, 9]

In [ ]:
tuple=(1,2,3)

In [ ]:
tuple

(1, 2, 3)

In [ ]:
tuple[0]

1

In [ ]:
if 2 in tuple:
  print(" 2 is present")

 2 is present

In [ ]:
tuple.count(33)

0

In [ ]:
a={1,2,3,4,4}

In [ ]:
a

{1, 2, 3, 4}

In [ ]:
set(a)

{1, 2, 3, 4}

In [ ]:
type(a)

set

In [ ]:
len(a)

4

In [ ]:
def fun():
  a=10
  b=20
  c=a+b
  print(c)
fun()

30

In [ ]:
def sum(a,b):
  return a+b;
a=int(input("Enter the value for a "))
b=int(input("Enter the value for b "))

print("Sum is ",sum(a,b))

Enter the value for a 12
Enter the value for b 12
Sum is  24

In [ ]:
def fun2(name,age=20):
  print("name is " ,name," age is ",age)

fun2(name="rita")

name is  rita  age is  20

In [ ]:
def fun3(name , message ):
    print("sample:" , name ,"and ",message)
fun3(name="rita",message="gm")

sample: rita and  gm

In [ ]:
def fruit(**fname):
  print(fname)
fruit(b="banana")
fruit(fruit1="mango",fruit2="orange")
print("no fruits")

{'b': 'banana'}
{'fruit1': 'mango', 'fruit2': 'orange'}
no fruits

In [ ]:
a=30.334444
abs(a)

30.334444

In [ ]:
list1=[1,2,3,4,5]
for i in list1:
  print(i)

1
2
3
4
5

In [ ]:
iter_list=iter(list1)

In [ ]:
iter_list

In [ ]:
print(next(iter_list))

1

In [ ]:
a=lambda x : x+20

print(a)
print("addition",a(30))

<function <lambda> at 0x7f85459ff8c0>
addition 50

Constructor

In [2]:
class Employee:
  def __init__(self,name,eid):
    self.name=name
    self.eid=eid
  def display(self):
    print("Employee name is ",self.name)
    print("Employee id is ",self.eid)
e1=Employee("pavan",101)
e1.display()

Employee name is  pavan
Employee id is  101

In [5]:
class class1:
  def __init__(self):
    print("constructor 1 is running");
  def __init__(self):
    print("constructor 2 is running");
c1=class1()

constructor 2 is running

In [11]:
class Employee1:
  def __init__(self,name,eid,age):
    self.name=name
    self.eid=eid
    self.age=age
  
e1=Employee1("shaima",1001,23)
#without using print function trying to get the name
getattr(e1,'name')

'shaima'

Built in functions in class

In [9]:
getattr(e1,'age')

23

In [12]:
setattr(e1,'age',44)
#to set or chnage the value of age and to run the output we need to run getattr

In [13]:
getattr(e1,'age')

44

In [14]:
hasattr(e1,'eid')
# searching if the particular argument is present

True

In [15]:
delattr(e1,'eid')

In [16]:
hasattr(e1,'eid')

False

Inheritance

In [26]:
class person:
  def __init__(self,fname,lname):
    self.fname=fname
    self.lname=lname
  def display(self):
    print(self.fname,self.lname)
  
p1=person("shaima","kader")
p1.display()

shaima kader

In [29]:
class person1_inheritance(person):
  def __init__(self,fname,lname,joining_year):
    super().__init__(fname,lname)
    self.joining_year=joining_year
  def dispaly(self):
    print(self.fname,self.lname,self.joining_year)

In [31]:
p2=person1_inheritance("shaima","kadar",2021)
p2.display()

shaima kadar

In [33]:
p2=person1_inheritance("sonali","shetty",2019)
p2.display()

sonali shetty

In [ ]:
class person:
  def __init__(self,fname,lname):
    self.fname=fname
    self.lname=lname
  def display(self):
    print(self.fname,self.lname)
  
p1=person("shaima","kader")
p1.display()

In [35]:
class person1(person):
  pass

In [36]:
p1=person1("shaima","kadar")
p1.display()

shaima kadar

In [44]:
class Calculation1:  
    def Summation(self,a,b):  
        return a+b;  
class Calculation2:  
    def Multiplication(self,a,b):  
        return a*b;  
class Derived(Calculation1,Calculation2):  
    def Divide(self,a,b):  
        return a/b;  
d = Derived()  
print(d.Summation(1,2))  
print(d.Multiplication(1,2))  
print(d.Divide(1,2))

3
2
0.5

multiple inheritance

In [46]:

class Cars:  
    
    def __init__(self, CarName, CarModel):  
        self.name = CarName  
        self.model = CarModel
  
    def showName(self):  
        print(self.name)  
  
    def showModel(self):  
        print(self.Model)    

class Ids: 
    def __init__(self, CarId):  
        self.CarId = CarId  
  
    def getId(self):  
        return self.CarId  
  
  
class Main(Cars, Ids):
    def __init__(self, name, model, id):  
        Cars.__init__(self, name, model)  
        Ids.__init__(self, id)  
  
  

Main1 = Main('Swift', 500, '100')  
Main1.showName()  
print(Main1.getId())

Swift
100

Multi - level inheritance

In [47]:
class animal:
  def speak(self):
    print("animal speaking")
class dog(animal):
  def bark(self):
    print("dog barking")
class puppy(dog):
  def eat(self):
    print("eating")
p=puppy()
p.speak()
p.bark()
p.eat()

animal speaking
dog barking
eating